.container {
  width: 80%;
  margin: 0 auto;
  mat-grid-tile {
    // border: lightblue 1px solid;
    .article {
      text-align-last: left;
      font-weight: 700;
      font-style: italic;
      font-size: 15px;
    }
    table {
      width: 100%;
      margin: 0;
    }
  }
}
