/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,700&display=swap');
* {
  box-sizing: border-box;
  margin: 2px;
  padding: 0;
  font-family: "Arima Madurai", cursive;
}
